/* Header.css */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 4px 6px rgba(30, 30, 30, 0.6);
  padding: 10px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-link {
  text-decoration: none;
  color: black !important; /* Crna boja teksta */
  font-size: 1.2rem; /* Povećana veličina fonta za vidljivost */
  font-weight: bold;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.nav-link:hover {
  color: #007bff; /* Promena boje na hover za bolju vidljivost */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Pojava senke na hover */
  border-radius: 6px;
  padding: 0px 5px;
  font-size: 18px;
}
